@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />

<h3>@DialogStatus</h3>

<br />
<button class="primary"
        @onclick="() => IsDemoDialogShown = true">Show Demo Dialog</button>

<DemoDialog @bind-IsDialogShown="IsDemoDialogShown"
            DialogClosed="OnDialogClosed" />

@code
{
    private bool IsDemoDialogShown { get; set; }

    private string? DialogStatus { get; set; }

    private void OnDialogClosed()
    {
        DialogStatus = "Dialog closed";
    }
}
