@inherits CoreDialogWrapper

<CoreDialog @bind-IsShown="IsDialogShown"
            Class="rounded-3"
            OnClose="OnDialogClosed">
    <div class="d-flex flex-column align-items-center p-2">
        <h3>Dialog Demo w/ Form</h3>

        <br />

        @* ReSharper disable once Html.AttributeValueNotResolved *@
        <form method="dialog">
            <input type="text"
                   value="This is a form inside a dialog."
                   readonly />

        </form>

        <br>

        <button class="btn btn-secondary-outline"
                @onclick="CloseDialog">
            Close
        </button>
    </div>
</CoreDialog>
