@inherits CoreDialogWrapper

<CoreDialog @bind-IsShown="IsDialogShown"
            Class="rounded-3"
            OnClose="OnDialogClosed">
    <div class="d-flex flex-column align-items-center p-2">
        <h3>Dialog Demo</h3>

        <br />

        <p>This is a dialog.</p>

        <br>

        <button class="btn btn-secondary-outline"
                @onclick="CloseDialog">
            Close
        </button>
    </div>
</CoreDialog>
