@page "/CoreIfControlExamples"

<CoreIfControl>
    <CoreIfStatement BooleanExpressionResult="@(!numbers.Any())">
        <p>Loading...</p>
    </CoreIfStatement>
    <CoreElseIfStatement BooleanExpressionResult="@(numbers.All(n => n % 2 == 0))">
        <p>All numbers are even...</p>
    </CoreElseIfStatement>
    <CoreElseIfStatement BooleanExpressionResult="@(numbers.All(n => n >= 20))">
        <p>All numbers are greater than 20!</p>
    </CoreElseIfStatement>
    <CoreElseStatement>
        <p>No conditions apply!</p>
    </CoreElseStatement>
</CoreIfControl>

<p>Numbers: @string.Join(separator: ",", numbers)</p>

@code {

    List<int> numbers = [];

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(delay: TimeSpan.FromSeconds(value: 10));

            numbers = [20, 22, 24, 26];

            // numbers = [20, 25, 30, 35];

            StateHasChanged();
        }
    }

}
